{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}
{% block content %}

<table>
    {% for ms in music %}
  <tr>
  <td>{{ms.tenbai}}</td>
  <td>
    <audio controls>
      <source src="https://docs.google.com/uc?export=download&id={{ms.ma}}" type="audio/mpeg">
    </audio>
</td>
<td>
  <form action="" method="POST">
    {% csrf_token %}
    <input type="hidden" name="id" value="{{ms.ma}}">
    <input type="submit" value="mua" >
  </form>
</td>
  </tr>
  {% endfor %}
  </table>


{% endblock content %}